@import "../global.css";

footer {
    background-color: whitesmoke;
    padding-top: 2rem;
    padding-bottom: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
footer p {
    color: var(--colorGray);
}