@charset "utf-8";
@import "./shared/global.scss";

@import "~bulma/sass/elements/tag.sass";

header {
    background-color: $colorGray;
    padding: 5rem 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: white;
        padding: 0;
        margin: 0;
    }
}

.content {
    .command {
        font-family: Consolas, "courier new";
        color: cadetblue;
        background-color: gainsboro;
        border-radius: 0.2rem;
        padding: 2px;
        font-size: 105%;
    }

    .use {
        ul {
            list-style: inside;

            li {
                margin-top: 0.5rem;
            }
        }
    }
}