@import "./shared/global.css";

header {
    background-color: var(--colorGray);
    padding: 5rem 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
header h1 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.content .command {
    font-family: Consolas, "courier new";
    color: cadetblue;
    background-color: gainsboro;
    border-radius: 0.2rem;
    padding: 2px;
    font-size: 105%;
}

.content .use ul {
    list-style: inside;
}
.content .use ul li {
    margin-top: 0.5rem;
}